{% load static %}
<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">
{% load pwa %}

<head>
  {% progressive_web_app_meta %}
  <title>Stack Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <meta name="google-signin-client_id"
    content="1009503205449-dui0nfvkoebkimfc1l92qce38eg6p5fk.apps.googleusercontent.com" />
  <link rel="stylesheet" href="/static/css/bootstrap.css" />
  <link rel="stylesheet" href="/static/customcss/global.css" />
  <link rel="stylesheet" href="/static/customcss/googleButton.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />

  <script src="https://apis.google.com/js/api:client.js"></script>
  <script>
    var googleUser = {};
    var startApp = function () {
      gapi.load("auth2", function () {
        auth2 = gapi.auth2.init({
          client_id:
            "1009503205449-dui0nfvkoebkimfc1l92qce38eg6p5fk.apps.googleusercontent.com",
          cookiepolicy: "single_host_origin",
        });

        // Attach the click handler to the Google Sign-In button
        attachSignin(document.getElementById("customBtn"));
      });
    };

    function attachSignin(element) {
      auth2.attachClickHandler(
        element,
        {},
        function (user) {
          // Handle the successful Google authentication response here
          var id_token = user.getAuthResponse().id_token;

          // Set the id_token as the value of the hidden input field
          document.getElementById("id_token_input").value = id_token;

          // Submit the form
          document.getElementById("myForm").submit();
        },
        function (error) {
          console.error("Google Sign-In failed: " + error.error);
        }
      );
    }
  </script>

</head>

<body>
  <div class="container">
    <section class="mx-auto pageWidth">
      <br />
      {% if error_message %}
      <div class="alert alert-danger text-center">{{ error_message }}</div>
      {% endif %}
      <div class="card rounded-top">
        <div class="card-header" style="background-color: #151515; border-color: #09bc8a">
          <h1 class="text-center" style="color: #ffffff">Login</h1>
        </div>
        <div class="card-body rounded-bottom" style="background-color: #151515">
          <form method="post" class="text-center" style="text-align: center" action="/" autocomplete="off" id="myForm">
            <input type="hidden" name="id_token" id="id_token_input" />
            <div class="page">
              {% csrf_token %}
              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="email"
                  placeholder="Enter email" />
              </div>
              <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control" name="InputPassword" id="InputPassword"
                  placeholder="Password" />
              </div>
              <br />
              <div class="button-container">
                <button type="submit" name="login" class="btn btn-primary" style="
                      background-color: #09bc8a;
                      border-color: #09bc8a;
                      color: #444;
                    ">
                  <span class="buttonText">Submit</span>
                </button>
              </div>
              <div id="gSignInWrapper" class="button-container">
                <div id="customBtn" class="customGPlusSignIn">
                  <span class="icon"></span>
                  <span class="buttonText">Google</span>
                </div>
              </div>
              <script>
                startApp();
              </script>
              <div class="button-container">
                <button type="submit" class="btn btn-primary" name="forgot_password" style="
                      background-color: #09bc8a;
                      border-color: #09bc8a;
                      color: #444;
                    ">
                  <span class="buttonText">Forgot Password?</span>
                </button>
              </div>
            </div>
          </form>
          <div>
            <p style="text-align: center; font-size: small;">Don't have an account yet? Sign up <a
                href="/signup">here</a></p>
          </div>
        </div>
      </div>
    </section>
    <br />
    <br />
  </div>
</body>

</html>