dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Style the dialog itself */
dialog {
    width: 300px;
    padding: 20px;
    background-color: #151515;
    border: 1px solid #09bc8a;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style form elements inside the dialog */
form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #09bc8a;;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

#submitCreateTaskButton {
    cursor: default;
}

/* Style the close button */
#closeDialogButton {
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
